{% extends 'home/base.html' %}
{% load custom_filters %}
{% block content %}
<header class="text-sky-900 py-3 shadow-md">
    <div class="max-w-4xl mx-auto text-center">
        <h1 class="text-2xl font-bold">Editar Categoria</h1>
    </div>
</header>

<main class="max-w-4xl mx-auto p-8 bg-white shadow-lg rounded-lg mt-8">
    <form method="post" enctype="multipart/form-data" class="space-y-6">
        {% csrf_token %}
        
        <div class="space-y-4">
            <!-- Campos do Formulário -->
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                {% for field in form %}
                    <div class="flex flex-col space-y-4">
                        <label for="{{ field.id_for_label }}" class="text-gray-700 font-medium mb-2">{{ field.label_tag }}</label>
                        {{ field|add_class:"border border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-sky-500 focus:outline-none p-3 text-gray-900 bg-white" }}
                        {% if field.errors %}
                            <span class="text-red-500 text-sm mt-1">{{ field.errors|striptags }}</span>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Botão Salvar -->
        <button type="submit" class="w-full bg-sky-500 text-white px-6 py-2 rounded-md hover:bg-sky-900 transition duration-300">
            Salvar alterações
        </button>
    </form>

    <footer class="mt-6 text-left">
        <button onclick="window.location.href='{% url 'listar_categoria' %}'" class="bg-gray-500 text-white px-6 py-2 rounded-md w-full sm:w-auto">
            ← Voltar
        </button>
    </footer>

    {% if form.errors %}
    <div class="mt-6 bg-red-100 text-red-700 p-4 rounded-lg shadow-md">
        <strong>Erro ao salvar alterações:</strong>
        <ul class="mt-2 space-y-2">
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    {% if messages %}
    <div class="mt-6 space-y-4">
        {% for message in messages %}
        <div class="p-4 rounded-md bg-blue-100 text-blue-800 shadow-md">
            <p>{{ message }}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</main>

{% endblock %}
