{% extends 'home/base.html' %}
{% load static %}
{% block content %}

<header>
    <h1>Editar Fornecedor: {{ fornecedor.nome }}</h1>
    <link rel="stylesheet" href="{% static 'css/editar_fornecedor.css' %}">
</header>

<main>
    <form id="edit-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="button" class="btn-save2" onclick="openModal()">Salvar Alterações</button>
    </form>

    <!-- Modal de Confirmação -->
    <div id="confirmationModal" class="modal">
        <div class="modal-content">
            <h2>Confirmar Alterações</h2>
            <p>Você realmente deseja salvar as alterações para este fornecedor?</p>
            <button type="button" class="btn-confirm" onclick="submitForm()">Confirmar</button>
            <button type="button" class="btn-cancel" onclick="closeModal()">Cancelar</button>
        </div>
    </div>

    {% if form.errors %}
        <div class="error">
            <strong>Erro ao salvar alterações:</strong>
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

</main>

<footer>
    <a href="{% url 'listar_fornecedores' %}">Voltar para a lista de fornecedores</a>
</footer>

<!-- JavaScript para abrir e fechar o modal -->
<script>
    function openModal() {
        document.getElementById('confirmationModal').style.display = 'block';
    }

    function closeModal() {
        document.getElementById('confirmationModal').style.display = 'none';
    }

    function submitForm() {
        document.getElementById('edit-form').submit();
    }
</script>

{% endblock %}
