.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}
/* Melhorias no estilo dos campos de texto */
input, select, textarea {
    border: 1px solid #D1D5DB; /* Cor da borda mais visível */
    padding: 0.75rem; /* Adiciona mais espaçamento interno */
    border-radius: 0.375rem; /* Bordas arredondadas */
    width: 100%; /* Preenche toda a largura disponível */
    background-color: #FFFFFF; /* Fundo branco */
}

input:focus, select:focus, textarea:focus {
    border-color: #3B82F6; /* Cor de borda azul ao focar */
    outline: none; /* Remove a borda externa */
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5); /* Sombra azul suave ao focar */
}

.text-sm {
    font-size: 0.875rem; /* Tamanho de fonte um pouco maior */
}

.text-gray-700 {
    color: #4B5563; /* Cor do texto mais contrastante */
}

.bg-blue-500 {
    background-color: #3B82F6; /* Azul mais destacado */
}

/* Estilos gerais para a calculadora */
#calculatorModal {
    display: none; /* Inicialmente oculto */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
  }
  
  #calcDisplay {
    font-size: 2rem;
    background-color: #f9f9f9;
    padding: 1rem;
    text-align: right;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
  }
  
  button {
    text-align: center;
    border-radius: 8px;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #ddd;
  }
  
  button.bg-blue-500 {
    background-color: #4299e1;
  }
  
  button.bg-blue-500:hover {
    background-color: #3182ce;
  }
  
  button.bg-gray-200 {
    background-color: #edf2f7;
  }
  
  button.bg-gray-200:hover {
    background-color: #e2e8f0;
  }
    