.chart-container {
    margin-top: 10px;
    margin: 0 auto; /* Centraliza o container */
    display: flex;
    flex-direction: column; /* Coloca os gráficos em colunas */
    justify-content: center;
    align-items: center;
}

#gastosChart, #gastosColumnChart {
    margin-top: 20px;
    width: 1000px !important;
    height: 500px !important;
}

.text-h2 {
    margin-top: 30px;
    color: #2c3e50;
    margin-left: 30px;
}

.logo-img2 {
    margin-top: 10px;
    height: 100px !important;
}
.highlight-box {
    background-color: #2c3e50; /* Cor de fundo do quadrado */
    color: white;  /* Cor do texto */
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    animation: bounceIn 1s ease-in-out; /* Animação */
    cursor: pointer;
    transition: transform 0.2s;
    animation: mover 1.5s infinite alternate;
}

.highlight-box:hover {
    background-color: #0080ff; /* Cor de fundo do quadrado */
    color: white;  /* Cor do texto */
    transform: scale(1.15); /* Aumentar o quadrado ao passar o mouse */
}


/* Animação para o quadrado */
@keyframes bounceIn {
    0% { transform: scale(0); opacity: 0; }
    60% { transform: scale(1.1); opacity: 1; }
    100% { transform: scale(1); }
}

.separacao-grafico {
    background-color: #f2f7ff;
}
.chart-container {
    margin-bottom: 20px; /* Espaço abaixo do gráfico */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.chart-container:not(:last-child) {
    border-bottom: 2px solid #ccc; /* Linha de separação */
    padding-bottom: 20px; /* Espaço extra após a linha */
}

hr {
    margin: 40px 0; /* Espaçamento maior entre os gráficos */
    border: none;
    border-top: 2px solid #ccc; /* Linha sutil de separação */
}

/* Estilo dos gráficos */
canvas {
    border-radius: 8px;
}

/* Responsividade */
@media (max-width: 768px) {
    .dashboard-container {
        grid-template-columns: 1fr; /* Para telas menores, empilhar os gráficos */
    }
}

.button-container {
    margin-bottom: 20px;
    margin-top: 50px; /* Aumenta a margem superior para posicionar mais para baixo */
    text-align: left; /* Alinha o botão à esquerda */
}

.add-button {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    padding: 10px 15px;
    background-color: #2c3e50; /* Cor do botão */
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s; /* Transição suave na cor de fundo */
}

.add-button:hover {
    background-color: white;
    color: #2c3e50;
}

h1 {
    display: inline-block;
    margin-right: 10px;
}

.icone-animado2 {
    display: inline-block;
    position: relative;
    animation: mover 1.5s infinite alternate;
}

.icone-animado2 i {
    font-size: 24px;
    color: #007bff; /* Ajuste a cor conforme necessário */
}

/* Animação de movimento */
@keyframes mover {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-5px);
    }
}


