/* Estilos específicos para a página editar_pasta_biblioteca */
.editar-pasta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    padding: 20px;
}

.editar-pasta-container h1 {
    font-size: 24px;
    color: #2c3e50;
    margin-bottom: 20px;
}

/* Container do formulário */
.editar-pasta-container div {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}

/* Estilo do formulário */
.editar-pasta-container form {
    display: flex;
    flex-direction: column;
}

.editar-pasta-container form p {
    margin-bottom: 15px;
}

/* Estilo do botão de salvar */
.editar-pasta-container button[type="submit"] {
    background-color: #2c3e50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.editar-pasta-container button[type="submit"]:hover {
    background-color: white;
    color: #2c3e50;
}

/* Estilo do link de "Voltar para a lista de pastas" */
.editar-pasta-container a {
    text-align: center;
    display: grid;
    margin-top: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    background-color: #2c3e50;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.editar-pasta-container a:hover {
    background-color: white;
    color: #2c3e50;
}
