/* Estilos da Tela de Login */
body {
    background-image: url('/static/images/fundo.png'); /* Imagem de fundo do cabeçalho */
    background-size: cover; /* Cobre todo o cabeçalho */
    background-position: center; /* Centraliza a imagem */
    background-color: #f4f4f9; /* Fundo suave */
    font-family: 'Roboto', sans-serif;
}

.login-container {
    max-width: 400px; /* Largura máxima do contêiner */
    margin: 100px auto; /* Centraliza vertical e horizontalmente */
    padding: 20px;
    background-color: #fff; /* Fundo branco para o formulário */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

.login-container h2 {
    text-align: center; /* Centraliza o título */
    margin-bottom: 20px; /* Espaço abaixo do título */
    color: #2c3e50; /* Cor do título */
}

.form-group {
    margin-bottom: 20px; /* Espaço entre os grupos de campos */
}

.form-group label {
    display: block; /* Exibe o label como bloco */
    margin-bottom: 5px; /* Espaço abaixo do label */
    color:#2c3e50; /* Cor dos labels */
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%; /* Largura total */
    padding: 10px; /* Espaçamento interno */
    border: 1px solid #ddd; /* Borda leve */
    border-radius: 5px; /* Bordas arredondadas */
    transition: border-color 0.3s; /* Transição suave */
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
    border-color: #2c3e50; /* Cor da borda ao focar */
    outline: none; /* Remove a borda padrão */
}

.btn {
    width: 100%; /* Botão ocupa toda a largura */
    padding: 10px; /* Espaçamento interno */
    background-color: #2c3e50; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto */
    border: none; /* Sem borda */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 16px; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
    margin-top: 10px; /* Espaço acima do botão */
}

.btn:hover {
    background-color: white;
    color: #2c3e50;
}

.password-reset {
    text-align: center; /* Centraliza o texto */
    margin-top: 10px; /* Espaço acima */
}

.password-reset a {
    color: #2c3e50; /* Cor dos links */
    text-decoration: none; /* Remove o sublinhado */
}

.password-reset a:hover {
    text-decoration: underline; /* Sublinha ao passar o mouse */
}
