body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    height: 100%;
    width: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0740ab;
    transition: width 0.3s ease;
    overflow-x: hidden;
    white-space: nowrap;
}

.sidebar:hover {
    width: 200px; /* Expande o menu quando o mouse passa sobre ele */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 20px;
    text-align: left;
}

.sidebar ul li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    text-align: left;
}

.sidebar ul li a:hover {
    background-color: #10014b;
}

.main-content {
    margin-left: 60px;
    padding: 20px;
    transition: margin-left 0.3s ease;
}

.sidebar:hover + .main-content {
    margin-left: 200px; /* Move o conteúdo principal quando o menu é expandido */
}
